header .navbar {
    /* background-color: #233142; */
    background-color: #fff;
}
#contact_alternatives {
    border: 1px solid #EEE;
    background-color: #FAFAFA;
    padding: 10px;
    font-size: 0.8em;
    color: #333;
    margin-bottom: 20px;
}