header .navbar {
    /* background-color: #233142; */
    background-color: #fff;
}
#profile-body {
    min-height: 200px;
    margin-bottom: 13px;
}

#profile_nav h3 {
    border-bottom: 1px solid #DDD;
    color: #BBB;
    padding: 10px 0;
    font-size: 1.2em;
}

#profile_nav li {
    list-style: none;
}

#profile_nav ul {
    margin: 10px 0;
    padding: 0;
    border-top: 1px solid #BBB;
}

#profile_nav a:link,
#profile_nav a:visited {
    background-color: #DDD;
    display: block;
    line-height: 2.5em;
    border-bottom: 1px solid #BBB;
    padding-left: 20px;
}

#profile_nav a:hover,
#profile_nav a:active {
    background-color: #CCC;
    text-decoration: none;
}