footer {
    background: #000;
    padding: 30px 0px;
    color: #FFF;
    font-size: 0.8em;
}

footer .logo_footer {
    border-right: 1px solid #222;
}

footer .header_footer {
    padding-bottom: 10px;
    border-bottom: 1px solid #111;
    margin-bottom: 10px;
}

footer h4 {
    font-size: 1.3em;
    position: relative;
    margin: 5px 0;
    border-bottom: 1px solid #111;
}

footer a:link,
footer a:visited {
    color: #413D3D;
}

footer .follow_footer {
    font-size: 1.1em;
}

footer .follow_footer a {
    margin: 0 5px;
}