#product-container {
    margin-bottom: 100px;
}

.cart-options {
    margin: 15px 0;
}

.breadcumb {
    font-size: 0.8em;
    margin-top: 10px;
}

.breadcumb .category {
    color: #999;
}

.code {
    font-size: 0.8em;
    ;
}

.brand {
    font-size: 0.6em;
}

.rate {
    color: rgb(233, 182, 16);
}

.description-title {
    font-size: 0.7em;
    color: #999;
}

.description {
    margin-top: 10px;
    padding: 3px;
    border: 1px solid #EEE;
    font-size: 0.9em;
    color: #555;
    text-align: justify;
}

.tags .tags-title {
    font-size: 0.7em;
    color: #999;
}

.tags {
    margin-top: 20px;
}

#images .active {
    height: 300px;
    border: 1px solid #EEE;
    background-size: cover;
    background-position: center;
}

#images .item {
    width: 80px;
    height: 80px;
    background-size: cover;
    display: inline-block;
    margin: 3px;
    border: 1px solid #999;
    background-position: center;
}

.feature {
    border: 1px solid #DDD;
    box-shadow: 1px 1px 15px #DDD;
    padding: 5px;
}